body {
    margin:auto;    
    margin-top: 150px;
    background-color: rgb(196, 141, 150);
    max-width: 450px;
    max-height: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    color : white;
}

.description {
    color:rgb(255, 168, 168);
    margin: auto;
    font-size:15px;
}

.currenttemp{
    margin-right: 10px;
    font-size: 25px;
}

#humidity{
    color: rgb(255, 168, 168) ;
    font-size:15px;
}

.nullicon {
    height: 70px;
    width: 70px;
}
    
.wheathercontainer{
    background-color: rgb(112, 58, 68);
    padding: 50px;
    border-radius: 30px;
}

